@font-face {
    font-family: 'american-captain';
    src: url(../font/American\ Captain.otf), url(../font/American\ Captain.ttf);
}

html {
    font-size: 62.5%;
}

body {
    max-width: 1440px;
    font-size: 1.6rem;
    font-family: 'Bebas Neue', cursive;
    background-image: linear-gradient(45deg, black, #3F0059);
}

body h1,
body h2,
.hero {
    font-family: 'american-captain';
}

:root {
    --max-width-size: 1920px;
    --gradient: linear-gradient(to right,
            rgb(149 114 252), rgb(67 231 173), rgb(226 212 92));
    --gradient2: linear-gradient(to left,
            rgb(149 114 252), rgb(67 231 173), rgb(226 212 92));
}

/* header */

.header {
    position: relative;
    /* background: #3F0059; */
    height: 60px;
}

.header .header-container {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: space-between;
    /* background-color: red; */
    height: 100%;
    width: 100%;
    padding: 10px 20px;
    min-height: 60px;
}

.header .header-container h1 {
    font-weight: bold;
    background-image: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 5rem;
    transition: 0.6s;
}

.header .header-container h1:hover {
    background-image: var(--gradient2);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transform: scale(110%);

}

.limiting {
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    background: #fff;
    -webkit-box-reflect: below 1px linear-grafient(transparent, #0005);
}

.limiting::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(90deg, #fb0094, #0000ff, #00ff00, #ffff00, #fb0094, #0000ff, #00ff00, #ffff00, #fb0094);
    animation: animate 20s linear infinite;
    background-size: 500%;
}

.limiting::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(90deg, #fb0094, #0000ff, #00ff00, #ffff00, #fb0094, #0000ff, #00ff00, #ffff00, #fb0094);
    animation: animate 20s linear infinite;
    background-size: 500%;
    filter: blur(20px)
}

@keyframes animate {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 500% 0;
    }
}

/* MENU */

.header nav {
    display: flex;
    flex-direction: row-reverse;
}

.header nav ul {
    display: flex;
}

.header nav ul li {

    padding-left: 30px;
}

.header nav ul li a {
    font-size: 2.6rem;
    font-weight: 500;
    padding: 10px 0px;
    transition: 0.6s;
    padding: 0 20px;
    background-image: var(--gradient2);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transform: scale(110%);
}

.header nav ul li a:hover {
    color: white;
    transform: scale(110%);
}

/* HERO */

.hero {
    display: flex;
    position: relative;
    background: transparent;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.hero::after {
    content: url(../images/seta_preta.png);
    position: absolute;
    height: 50px;
    bottom: 35px;
    animation: downarrow 0.6s infinite alternate ease-in-out
}

@keyframes downarrow {
    0% {
        -webkit-transform: translateY(0);
        opacity: 0.4;
    }

    100% {
        -webkit-transform: translateY(0.4em);
        opacity: 0.9;
    }
}

.hero::before {
    display: flex;
    justify-content: center;
    content: attr(data-text);
    position: absolute;
    background-image: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 150px;
    white-space: nowrap;
    overflow: hidden;
    animation: animarElemento 5s linear alternate-reverse infinite;
    filter: drop-shadow(0 0px 15px purple) drop-shadow(0 1px 1px #fff);
    /* comando de cima da brilho */


}

@keyframes animarElemento {

    0%,
    70%,
    100% {
        width: 100%;
    }

    90%,
    100% {
        width: 0%;
    }
}

.hero h2 {
    font-size: 150px;
    color: #2a003d;

}

/* about-me */

.about-me {
    display: flex;
    height: 600px;
    background: transparent;
    position: relative;
}

.right-column {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: transparent;
    width: 50%;
    height: 100%;
}


.description {
    display: flex;
    flex-direction: column;
    padding: 10px 30px;
    justify-content: center;
    align-items: center;
}

.description p {
    display: flex;
    padding: 10px;
    color: #fff;
    text-align: justify;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
}

.left-column {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background: transparent;
    width: 50%;
    height: 100%;
}

.left-column .limiting {
    display: none;
}

.left-column h2 {
    font-size: 250px;
    background-image: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

/* projects */

.projects {
    display: flex;
    height: 600px;
    flex-direction: column;
    position: relative;
    justify-content: center;
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    background-image: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    padding-top: 10px;
}


.projects .content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    /* overflow: hidden; */
    /* height: auto; */
    /* width: 100%; */
    /* background-color: red; */
}

.content .options {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    overflow: hidden;
    min-width: 300px;
    max-width: 900px;
    width: calc(100% - 100px);
    height: 400px;
}



.option.active {
    flex-grow: 10000;
    transform: scale(1);
    max-width: 600px;
    margin: 0px;
    border-radius: 40px;
    cursor: default;
    transform:scale(0.9);
}

.option:not(.active) {
    flex-grow: 1;
    border-radius: 30px;
}

.shadow {
    box-shadow: inset 0 -120px 120px -120px black,
    inset 0 -120px 120px -100px black;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 80px;
}

#projeto1,
#projeto2,
#projeto3,
#projeto4,
#projeto5 {
    position: relative;
    overflow: hidden;
    min-width: 60px;
    margin: 10px;
    background: var(--optionBackground, var(--defaultBackground, #e6e9ed));
    transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
    cursor: pointer;
}

#projeto1 {
    background: url("/src/images/gif-projeto1.gif") center center no-repeat;
    background-size: auto 100%;
}

/* #projeto2 {
    background: url("/src/images/5-Projeto3.png") center center no-repeat;
    background-size: auto 100%;
}

#projeto3 {
    background: url("/src/images/7-Projeto4.png") center center no-repeat;
    background-size: auto 100%;
}

#projeto4 {
    background: url("/src/images/3-Projeto2.png") center center no-repeat;
    background-size: auto 100%;
}

#projeto5 {
    background: url("/src/images/5-Projeto3.png") center center no-repeat;
    background-size: auto 100%;
} */

#projeto1 .label,
#projeto2 .label,
#projeto3 .label,
#projeto4 .label,
#projeto5 .label {
    display: flex;
    position: absolute;
    right: 0px;
    height: 40px;
    transition: 0.6s;
    bottom: 20px;
    left: 20px;
}

#projeto1:not(.active) .label,
#projeto2:not(.active) .label,
#projeto3:not(.active) .label,
#projeto4:not(.active) .label,
#projeto5:not(.active) .label {
    bottom: 10px;
    left: 10px;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 40px;
    max-width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #212123;
    /* background-size: cover; */
    overflow: hidden;
}

.icon span{
    color: #fff;
    font-size: 2.5rem;
    font-weight: bold;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    color: white;
    /* white-space: pre; */
}

.information a {
    margin: 0;
    font-family: 'american-captain';
    font-size: 2.5rem;
    color: #fff;
}

.information a:hover {
    cursor: pointer;
    transform: scale(110%);
    filter: drop-shadow(0 0px 5px #212123) drop-shadow(0 1px 1px #fff);
}

.projects .limiting {
    bottom: 0;
    position: absolute;
    z-index: 999;
}

/* skills */

.skills {
    display: flex;
    position: relative;
    background: transparent;
    justify-content: center;
    align-items: center;
    height: 650px;
    width: 100%;
    padding: 30px 60px;
}

.coluna {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: auto;

}

.coluna h2 {
    background-image: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 60px;
}

.coluna p {
    text-align: justify;
    font-size: 16px;
    color: #fff;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
}

.knowledge {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.knowledge ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.knowledge ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #fff;
    padding: 5px;
    margin: 20px;
    border-radius: 5px;
    transition: 0.5s;
}

.indicator {
    padding-top: 50px;
}

.r1 {
    background: #fff;
    opacity: 0.9;
    filter: drop-shadow(0 0px 15px purple) drop-shadow(0 1px 1px yellow);
}

.r1:hover {
    transform: translateY(-5px);

}

.r2 {
    border: transparent;
    /* background: grey; */
    opacity: 0.9;
    /* color: #000; */
    color: white;
    /* opacity: 0.5; */
}


.r3 {
    color: #fff;
    opacity: 0.5;
}

/* contact */

.contact {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
    /* background: red; */
    height: 600px;
    width: 100%;
}

.contact ul {
    display: flex;
    position: relative;
    transform-style: preserve-3d;
    justify-content: space-evenly;
    align-items: center;
    /* margin: 60px; */
    /* background-color: blue; */
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
}

.contact ul li {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 0 50px;
}

.contact ul li span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex !important;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: transparent;
    color: #fff;
    font-size: 30px !important;

}

.contact ul li:hover span {
    z-index: 1000;
    transition: 0.5s;
    color: #fff;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.5);
}

.contact ul li:hover span:nth-child(5) {
    transform: translate(40px, -40px);
    opacity: 1;
    transition: 0.5s;

}

.contact ul li:hover span:nth-child(4) {
    transform: translate(30px, -30px);
    opacity: 0.8;
}

.contact ul li:hover span:nth-child(3) {
    transform: translate(20px, -20px);
    opacity: 0.6;
}

.contact ul li:hover span:nth-child(2) {
    transform: translate(10px, -10px);
    opacity: 0.4;
}

.contact ul li:hover span:nth-child(1) {
    transform: translate(0px, -0px);
    opacity: 0.2;
}

.contact ul li:nth-child(1):hover span {
    background-color: #0077B5;
    filter: drop-shadow(0 0px 15px #0077B5) drop-shadow(0 1px 1px #fff);
}

.contact ul li:nth-child(2):hover span {
    background-color: #161B22;
    filter: drop-shadow(0 0px 15px #161B22) drop-shadow(0 1px 1px #fff);
}

.contact ul li:nth-child(3):hover span {
    background-color: #0F6CBD;
    filter: drop-shadow(0 0px 15px #0F6CBD) drop-shadow(0 1px 1px #fff);
}

.contact ul li:nth-child(4):hover span {
    background-color: #25D366;
    filter: drop-shadow(0 0px 15px #25D366) drop-shadow(0 1px 1px #fff);
}

/* FOOTER */

.baseboard {
    position: relative;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 120px;
    background: black;
}

.baseboard .limiting {
    top: 0;
    position: absolute;
}

.baseboard ul {
    display: flex;
}

.baseboard ul li {
    padding: 0px 20px;
    align-items: flex-start;
    display: flex;
}

.baseboard ul li a {
    color: #fff;
    white-space: nowrap;
}

.email {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    padding-top: 10px;
    font-size: 13px;
}

.copyright {
    color: #fff;
    font-size: 13px;
    padding-top: 10px;
}